<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BẢO TÀN NGHỆ THUẬT</title>
    <script src="https://kit.fontawesome.com/489bd3f8d2.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/Site.css")
    @using Microsoft.AspNet.Identity
</head>
<body>
    <div class="flex_layout">
        <div class="flex_l">@Html.ActionLink("BẢO TÀN NGHỆ THUẬT", "HomeMain", "Home", new { @class = "Linkl" })</div>
        <div class="flex_l">@Html.ActionLink("CỔ VẬT", "CoVat", "Home", new { @class = "Linkl" })</div>
        <div class="flex_l">@Html.ActionLink("MỸ THUẬT", "MyThuat", "Home", new { @class = "Linkl" })</div>
        <div class="flex_l">@Html.ActionLink("CHÚNG TÔI", "ChungToi", "Home", new { @class = "Linkl" })</div>
        @{
            if (Request.IsAuthenticated)
            {
                <div class="flex_l" id="Dn">@Html.ActionLink(User.Identity.GetUserName(), "Taikhoan", "Home", new { @class = "Linkl" })</div>

            }
            else
            {
                <div class="flex_l" id="Dn">@Html.ActionLink("ĐĂNG NHẬP", "DangNhap", "Home", new { @class = "Linkl" })</div>
            }
        }
    </div>
    <div class="footer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Nhóm 11 CNTT 2</p>
        </footer>
    </div>
</body>
</html>
